$color-white: hsl(0, 0%, 100%);
$color-gray-cyan-1: hsl(189, 41%, 97%);
$color-gray-cyan-2: hsl(185, 41%, 84%);
$color-gray-cyan-3: hsl(184, 14%, 56%);
$color-gray-cyan-4: hsl(186, 14%, 43%);
$color-dark-cyan: hsl(183, 100%, 15%);
$color-strong-cyan: hsl(172, 67%, 45%);
$color-red: #ff304f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
}

body {
  background-color: $color-gray-cyan-2;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: $color-dark-cyan;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 5rem;
}

.calculator {
  width: 90%;
  max-width: 60rem;
  background-color: $color-white;
  border-radius: 1.8rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__error {
    font-size: 0.8rem;
    color: $color-red;
  }

  &__label {
    margin-bottom: 0.5rem;
    color: $color-gray-cyan-4;
  }

  &__input {
    position: relative;
    width: 100%;

    & img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.5rem;
    }

    & input {
      padding: 0.25rem 1.5rem;
      border: none;
      background-color: $color-gray-cyan-1;
      text-align: right;
      font-family: inherit;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      width: 100%;
      outline: none;
      border: 3px solid transparent;
      transition: all 0.2s;
      color: $color-dark-cyan;

      &::placeholder {
        color: $color-gray-cyan-3;
      }

      &:focus {
        border: 3px solid $color-strong-cyan;
      }
    }
  }
}
